.container{
    width: 100vw;
    height: 88vh;
    margin-top: 9vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    gap: 20px;
    font-family: var(--primary-font);
}

.resumeCont {
    width: 25vw;
    height: 50vh;
    border: 5px solid rgb(200, 174, 125);
    
    border-radius: 20px;
}

.cart-prod{
    display: flex;
    flex-direction: row;
    width:70%;
    height: 30vh;
    border: 1px solid #dedede;
    border-radius: 25px;
    background-color: beige;
}

.resumeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod{
    max-width: 20vh;
}
.total{
    max-width: 20vh;
}

.title{
    display: flex;
    height: 20%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}