.container{
    width: 100vw;
    height: 88vh;
    margin-top: 9vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    gap: 20px;
    font-family: var(--primary-font);
}

.resumeCont {
    width: 25vw;
    height: 50vh;
    border: 5px solid rgb(200, 174, 125);
    
    border-radius: 20px;
}

.cart-prod{
    width: 50vw;
    height: 70vh;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0.5;
}

.resumeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod{
    max-width: 20vh;
}
.total{
    max-width: 20vh;
}