.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.resumeCont {
    /* display: flex; */
}

.resumeTitle {
    /* display: flex; */
}

.payment {
    /* display: flex; */
}

.itemsCont{
    /* display: flex; */
}