<div class="resumeTitle">
    <h3 class="title">Resumen de compra</h3>
</div>
<section class="container">
    <div class="cart-prod">
        <app-card-cart />
    </div>
    <aside class="resumeCont">
        <div class="resumeCont">
            <div class="payment">
            <div class="paymentInfo">
                <div class="itemsCont">
                    <h6>Tus compras</h6>
                    <ul>
                        <li>
                            @for(item of carts; track carts) {
                                <p class="prod">Producto: {{ item.product.product.name }}</p>
                                <p class="total">Total: {{ item.product.product.price }} x cantidad</p>
                            } @empty {
                                <p class="prod">Producto:</p>
                                <p class="total">Total: </p>
                            }
                        </li>  
                    </ul>
                </div>
                <div>
                    <p>TOTAL: </p>
                    <p>${{total}}</p>
                </div>
            </div>  
            <div>
                <button class="button" (click)="toBuy()">Comprar</button>
                <script>
                    const mp = new MercadoPago(publicKey.keyPublic);
                </script>
                <button class="button" (click)="cancel()">Cancelar</button>
            </div>
            </div>
            <p>aqui va spin</p>
            <p>aqui va la wallet</p>
        </div>
    </aside>
</section>
