<section class="container">
    <div>
                    <app-card-cart/>
    </div>
    <aside className={style.resumeCont}>
        <div className={style.resumeTitle}>
            <h3 className={style.title}>Resumen de compra</h3>
        </div>
        <div className={style.payment}>
            <div className={style.paymentInfo}>
                <div className={style.itemsCont}>
                    <ul>
                        
                                    <li>
                                        <p>nombre</p>
                                        <p>precio x cantidad</p>
                                    </li>
                                
                            
                        
                    </ul>
                </div>
                <div>
                    <p>TOTAL:</p>
                    <p>$precio total</p>
                </div>
            </div>  
            <div>
                <button class="button" onclick="toBuy()">Comprar</button>
                <script>
                    const mp = new MercadoPago("TEST-d40f6edb-174f-4da2-b99c-6c8b4d676233");
                </script>
                <button class="button" onclick="cancel()">Cancelar</button>
            </div>
        </div>
         <p>aqui va spin</p>
         <p>aqui va la wallet</p>
    </aside>
</section>