<div class="container">
  <div class="card">
      <div class="card-body">
        <img src="{{product?.image}}" alt="{{product?.name}}">
        <h5 class="card-title">{{product?.name}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">${{product?.price}}</h6>
        <p class="card-text">Descripción: {{product?.description}}</p>
        <p href="#" class="card-link">Categoría: {{product?.category}}</p>
        <p href="#" class="card-link">Talle: {{product?.size}}</p>
        <p>Puntaje: {{product?.rating}}</p>
      </div>
  </div>
</div>
