<div>
    @if (userList.length === 0) {
        <h1>Loading...</h1>
    }
    @if (userList.length > 0) {
        @for(user of userList; track user.id) {
            <h1>Perfil de {{user.data.uid}}</h1>
            <img src={{user.data.image}} alt="foto de usuario">
            <button (click)="updateProfile()">Cambiar foto</button>
            <p>Nombre: {{user.data.name}}</p>
            <p>Apellido: {{user.data.lastName}}</p>
            <p>Mail: {{user.data.email}}</p>
            <p>Contraseña: {{user.data.password}}</p>
            <p>Domicilio: {{user.data.address}}</p>
            <p>Teléfono: {{user.data.phone}}</p>
        }
    }
</div>
