<div class="modal">
    @if (isOpen) {
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h2>Formulario</h2>
          <form>
            <div class="mb-3">
                <label for="uid" class="form-label">Nombre de Usuario</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="uid" 
                  formControlName="uid"
                  aria-describedby="emailHelp"
                  [ngClass]="{'is-valid': hasErrors('uid', 'required')}"
                >
                @if (hasErrors('uid', 'required')) {
                  <span class="text-danger">Debe colocar un nombre de usuario.</span>
                }
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input
                  type="password" 
                  class="form-control" 
                  id="exampleInputPassword1"
                  formControlName="password"
                  [ngClass]="{'is-valid': hasErrors('password', 'required') || hasErrors('password', 'password')}"
                >
                @if (hasErrors('password','required')) {
                  <span class="text-danger" id="password">Completar contraseña</span>
                }
                @if (hasErrors('password','minlength')) {
                  <span class="text-danger" id="password">Mínimo de 8 caracteres</span>
                }
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Dirección</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="address" 
                  formControlName="address"
                  aria-describedby="emailHelp"
                >
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Teléfono/Celular</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="phone" 
                  formControlName="phone"
                  aria-describedby="emailHelp"
                  [ngClass]="{'is-valid': hasErrors('phone', 'required')}"
                >
                @if (hasErrors('phone', 'required')) {
                  <span class="text-danger">Debe colocar un número.</span>
                }
            </div>
            <div class="input-group mb-3">
                <input 
                  type="file" 
                  class="form-control" 
                  id="image" 
                  formControlName="image"
                  (change)="onFileSelected($event)"
                  >
                <label class="input-group-text" for="image">Subir</label>
            </div>
          </form>
        </div>
    }
  </div>