<div class="container">
    <form (ngSubmit)="searchProduct(searchName)">
        <input type="text" [(ngModel)]="searchName"  placeholder="Buscar producto por nombre" name="search">
        <button type="submit">Buscar</button>
    </form>
    
    <div class="ProductList">
        @if(ProductList.length === 0) {
            <h2>No se encontraron Productos con ese nombre</h2>
        }
        @if(ProductList.length > 0) {
            <div>
                @for(product of ProductList; track product.id) {
                    <ul>
                        <li>
                            <app-card [product]="product"/>
                        </li>
                    </ul>
                }
            </div>
            <app-filters />
            <app-pagination />
        }     
        
    </div>
</div>
